{% extends "base.html" %}


{% block content %}


<div class="container-fluid login">

    <div class="row buttons">
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <h1>THE FULL INFECTION</h1>
                <br>
                <div>
                {%  if get %}
                <form action="{% url 'full_infection' %}" method="post" >
                    {% csrf_token %}

                    {{ form }}
                     <button style='margin:20px;' type="submit" class="btn btn-primary btn-lg login-btn">
                     Click Here To Infect The Entire Network</button></a>
                {%  endif %}
                </form>


                {% if messages %}
                <div>
                {% for m in messages %}
                    <h3>{{ m }}</h3>
                {% endfor %}
                </div>
                {% endif %}

                {% if infection_result %}

                <div class="col-md-10">
                <div class="row">
                    <h3>There are {{ infection_result.networked_users|length }} networked users and {{ pool_size }} total users in the network.</h3>
                    <h3>There are {{ infection_result.number_of_outliers }} users who are outliers.</h3>
                    <h3>To infect all users, there were {{ infection_result.number_of_rounds }} rounds of infection.</h3>
                </div>
                    {%  for rd in infection_result.rounds %}
                      <div class="row">

                      <hr>
                        <h3>Round {{ forloop.counter }}</h3>
                        <h4>Infected Users: <br><br>
                                <ul style="list-style-type: none;margin:1px;">
                                {% for u in rd.users_infected %}

                                <li class="col-md-4"><img style="margin:4px;border-radius:10%" src='http://loremflickr.com/100/100?random={{ forloop.counter }}'>{{ u.first_name }} {{ u.last_name }}</li>
                                {% endfor %}
                                 </ul>

                                </h4>
                       </div>
                    {% endfor %}

                      <div class="row">
                      <hr>
                        <h3>Outliers</h3>
                        <h4>Users not infected because they're not connected to any other users.</h4>
                        <h4>
                        <ul style="list-style-type: none;margin:1px;">
                        {% for u in infection_result.users_who_are_outliers %}
                            <li class="col-md-4"><img style="margin:4px;border-radius:10%;" src='http://loremflickr.com/100/100?random={{ forloop.counter }}'>{{ u.first_name }} {{ u.last_name }}</li>
                        {% endfor %}
                         </ul>

                         </h4>
                       </div>
                </div>

                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
